@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
*{
    margin: 0;
    padding: 0;
}
/* body{
    background-image: url(bg-login-transformed.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

} */
.logo2{
    width: 200px;
    margin-left: 650px;
    height:350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid black; */
}
.logo img{
    width: 300px;
    height: 300px;
    margin-left: 600px;
}
.log{
    margin-left: 25px;
    /* border: 1px solid black; */
    width: 225px;
    font-size: 40px;
    font-family: Garamond;
}
.form{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
	box-shadow: 0 2px 50px rgb(159, 255, 194);
    
    height: 600px;
    width: 800px;
    /* margin-left: 300px; */
     border: 2px solid rgb(216, 199, 199); 
}
.form h3{
    margin-left: 250px;
    color: black;
    margin-top: 50px;
    /* margin-bottom: 10px; */
    text-decoration: underline;
    font-family: 'Libre Baskerville', serif;
    /* border: 1px solid black; */
}
.input{
    height: 40px;
    width: 300px;
    margin-left: 300px;
    margin-top: 10px;
    border: none;

}
.img{
    height: 605px;
    width: 400px;
    
    margin-top: 10px;
    background-image: url(form.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}
.text{
    /* border: 2px solid rgb(199, 4, 4);  */
    display: flex;
     width: fit-content;
	 height: 600px;
	 margin: auto;
	 margin-bottom: 40px;
	 


}
.input:hover{
      border: 1px solid gray;
      cursor: pointer;
}
/* .dropdown{
    height: 40px;
    width: 100px;
} */
/* body{
    background: #ffffff;
    font-family: Arial;
    color: black;
    margin: 0;
    padding: 0;
} */
.project{
    margin: 0 auto;
}
nav{
    height: 75px;
    /* background: ; */
box-shadow: 0 7px 20px rgb(159, 255, 194);
}
.logo{
    padding: 5px 0 0 80px;
    /* width: 50px; */
height: 80px !important;     
}
nav ul{
    padding: 0;
    margin: 0;
    float: right;
    margin-right: 30px;
   
}
nav ul li{
    /* background: #dcecdb; */
    position: relative;
    list-style: none;
    color: rgb(0, 142, 54);
    display: inline-block;

}
nav ul li a{
    display: block;
    padding: 0 15px;
    color: rgb(0, 0, 0);
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid black; */
    text-decoration: none;
    line-height: 40px;
    font-size: 15px;
    cursor: pointer;
}
.item:hover{
   background-color: rgb(216, 255, 205) ; 
    cursor: pointer;
font-size: 100px;
}
nav ul ul{
    position: absolute;
    top: 60px;
    display: none;
}
nav ul li:hover > ul{
    display: block;
}
nav ul{
  display: flex;
  /* border: 1px solid black; */
  justify-content: space-between;
  margin-right: 400px;
  margin-top: 5px;
}
/* .dropdown{
    /* width: px; */
 
.item{
    /* border: 2px solid black; */
    width: 250px;
    /* height: 10px; */
    
}
.fa-user-circle{
    font-size: 36px !important;
    color: #090404;
    margin-left: 20px;
    box-shadow:10 20px 19px rgba(2, 183, 39, 185) ;
}
/* .fa-user-circle{
    margin-left: 400px;
} */
/* h1 {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50px);
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-size: 10em;
	color: #fff;
	text-transform: uppercase;
	text-shadow: 0 5px 10px rgba(0,0,0,1);
	mix-blend-mode: overlay;
	font-family: 'Roboto Slab', serif;
	box-shadow: 0 5px 10px rgba(0,0,0,1);
	text-decoration: none;
} */
.w3hubs-footer{
	width: 100%;
	height: auto;
	margin: auto;
	background:#272727;
	padding: 20px 0px;
	
}
.w3hubs-icon{
	width: 100%;
	height: auto;
	margin: auto;
}
.w3hubs-icon ul{
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.w3hubs-icon ul li{
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 0px 10px;
	border-radius: 100%;
	background:#7DCEA0; 
}
.w3hubs-icon ul li a{
	text-decoration: none;
	color: #272727;
	font-size: 25px;
	display: block;
}
.w3hubs-icon ul li a i{
	line-height: 50px;
}
.w3hubs-icon ul li:hover{
	background: #e67e22;
}
.w3hubs-icon ul li a:hover >i{
	transform: scale(1.6) rotate(25deg);
}
.w3hubs-nav{
	width: 100%;
	height: auto;
	margin: auto;
	margin-top: 25px;
}
.w3hubs-nav ul{
	margin: 0px;
	padding: 0px;
	text-align: center;
}


.w3hubs-nav ul li{
	display: inline-block;
	margin: 10px 20px;	 
}
.w3hubs-nav ul li a{
	text-decoration: none;
	outline: none;
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.w3hubs-nav ul li a:hover{
	color:  #e67e22;
}

.w3hubs-nav1{
	width: 100%;
	height: auto;
	margin: auto;
	margin-top: 15px;
}
.w3hubs-nav1 ul{
	margin: 0px;
	padding: 0px;
	text-align: center;
}


.w3hubs-nav1 ul li{
	display: inline-block;
	margin: 0px 20px;	 
}
.w3hubs-nav1 ul li a{
	text-decoration: none;
	outline: none;
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.w3hubs-nav1 ul li a:hover{
	color:  #e67e22;
}
.w3hubs-nav2{
	width: 100%;
	height: auto;
	margin: auto;
}
.w3hubs-nav2 ul{
	
	text-align: center;
}

.w3hubs-nav2 ul li{
	
	width: 50px;
	height: 50px;
	margin: 0px 10px;
	border-radius: 100%;
	background:#fff; 
}
.w3hubs-nav2 ul li a{
	text-decoration: none;
	color: #272727;
	font-size: 25px;
	display: block;
}
.w3hubs-nav2 ul li a i{
	line-height: 50px;
}
.w3hubs-nav2 ul li:hover{
	background: #e67e22;
}
.w3hubs-nav2 ul li a:hover >i{
	transform: scale(1.6) rotate(180deg);
}
.footer-end{
	width: 100%;
	height: auto;
	margin: auto;
	background: #7DCEA0;
	padding: 10px;
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
	text-align: center;
}
.footer-end p{
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	letter-spacing: 2px;

}
.footer-end a{

text-decoration: none;
color: #fff
}
.footer-end a:hover{
	color:  #e67e22;
}

@media(max-width:691px ){
.w3hubs-nav1 ul li a,.w3hubs-nav ul li a{
	font-size: 16px;
}
}
@media(max-width:604px ){
.w3hubs-nav1 ul li a,.w3hubs-nav ul li a{
	font-size: 14px;
}
.w3hubs-nav ul li{
	padding: 0px ;
}
}
@media(max-width:559px ){

.w3hubs-nav1 ul li a,.w3hubs-nav ul li a{
	font-size: 13px;
}

}
@media(max-width:539px ){
.w3hubs-nav1 ul li a,.w3hubs-nav ul li a{
	font-size: 11px;
}
.w3hubs-nav ul li{
	margin: 5px 20px;
}
.w3hubs-nav ul li.p1 {
    padding-top: 10px;
}
}
@media(max-width:380px ){
	.w3hubs-nav ul li,.w3hubs-nav1 ul li{
		display: block;
		padding: 5px;
	}
.w3hubs-nav2 ul li{
	display: none;
}
.w3hubs-icon ul li a i {
    line-height: 38px;
}
.w3hubs-icon ul li a{
	font-size: 20px;
}
.w3hubs-icon ul li{
width: 40px;
    height: 40px;
}
}
@media(max-width: 375px){
	.w3hubs-nav ul li.p1 {
    padding-top: 0px;
}
}
.button button{
	width: 100px;
	height: 40px;
	border-radius: 20px;
	margin-left: 350px;
	margin-top: 25px;
	background-color: rgb(97, 240, 149);
    color: white;
}